<ion-button expand="block" (click)="setOpen(true)">Register</ion-button>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Register</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="registerForm" (ngSubmit)="register($event)">

        <ion-list>
          <ion-item>
            <ion-input id="name" label="Name" label-placement="floating" fill="outline" placeholder="John Doe"
              formControlName="name"></ion-input>
          </ion-item>
          <!-- <div class="errors">
            <ng-container *ngFor="let validation of validations.name">
              <div>
                <ion-icon name="information-circle-outline" color="danger"></ion-icon>
                <ion-text color="danger">{{validation.message}}</ion-text>
              </div>
            </ng-container>
          </div> -->

          <ion-item>
            <ion-input id="email" label="Email" label-placement="floating" fill="outline" placeholder="email@email.com"
              formControlName="email"></ion-input>
          </ion-item>
          <!-- <div class="errors">
            <ng-container *ngFor="let validation of validations.email">
              <div>
                <ion-icon name="information-circle-outline" color="danger"></ion-icon>
                <ion-text color="danger">{{validation.message}}</ion-text>
              </div>
            </ng-container>
          </div> -->

          <ion-item>
            <ion-input id="password" label="Password" label-placement="floating" fill="outline"
              formControlName="password" type="password"></ion-input>
          </ion-item>
          <!-- <div class="errors">
            <ng-container *ngFor="let validation of validations.password">
              <div>
                <ion-icon name="information-circle-outline" color="danger"></ion-icon>
                <ion-text color="danger">{{validation.message}}</ion-text>
              </div>
            </ng-container>
          </div> -->

          <ion-item>
            <ion-input id="password_confirmation" label="Confirm password" label-placement="floating" fill="outline"
              formControlName="password_confirmation" type="password"></ion-input>
          </ion-item>
          <!-- <div class="errors">
            <ng-container *ngFor="let validation of validations.password_confirmation">
              <div>
                <ion-icon name="information-circle-outline" color="danger"></ion-icon>
                <ion-text color="danger">{{validation.message}}</ion-text>
              </div>
            </ng-container>
          </div> -->
        </ion-list>

        <ion-button type="submit">Register</ion-button>
        <ion-text *ngIf="success" color="success">Registro exitoso</ion-text>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>